<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="org.leetieniu.redis" />
	
	<bean id="jedisPool" class="redis.clients.jedis.JedisPool">
		<constructor-arg index="0" type="String" value="182.61.3.249" />
		<constructor-arg index="1" type="int" value="6379" />
	</bean>
	
	<!-- 实例工厂 -->
	<bean id="jedis" factory-bean="redisFactory" scope="prototype"
		factory-method="getInstance">
		<constructor-arg index="0" type="String" value="shouaiaa02" />
	</bean>
	
</beans>